<ng-template #suffixTemplateInfo>
  <i
    nz-icon
    nzType="info-circle"
    nz-tooltip=""
    nzTooltipTitle="Your username is your email address"></i>
</ng-template>
<div class="auth-container">
  <div class="form-container">
    <div class="form-header">
      <img src="/assets/images/logo.svg" class="form-logo" alt="logo" />
    </div>
    <form nz-form class="form" nzLayout="vertical">
      <div class="mb-20">
        <h1 class="title s-30 mb-16 text-center">Forgot password?</h1>
        <p class="text s-14 text-center">
          No worries, we'll send you reset instructions.
        </p>
      </div>
      <nz-form-item>
        <nz-form-label nzFor="email">Username</nz-form-label>
        <nz-form-control nzErrorTip="Please input your email!">
          <nz-input-group [nzSuffix]="suffixTemplateInfo">
            <div class="input-wrapper">
              <input
                name="warningValid"
                type="text"
                nz-input
                id="email"
                formControlName="email"
                placeholder="Enter username" />
            </div>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <button
        type="button"
        nz-button
        [nzBlock]="true"
        class="form-button"
        [nzType]="'primary'">
        Reset password
      </button>
    </form>
    <a class="back-link" [routerLink]="'/login'">
      <svg-icon src="/assets/icon/icon-arrow.svg" class="icon s-12"></svg-icon>
      Back to sign in
    </a>
  </div>
</div>
