:root {
  --white: 255, 255, 255;
  --bg-primary: 255, 255, 255;
  --brand-50: 255, 241, 241;
  --brand-100: 254, 229, 230;
  --brand-200: 252, 207, 210;
  --brand-300: 250, 167, 173;
  --brand-400: 246, 118, 130;
  --brand-500: 239, 83, 102;
  --brand-600: 218, 36, 67;
  --brand-700: 184, 24, 55;
  --brand-800: 154, 23, 53;
  --brand-900: 132, 23, 52;
  --gray-50: 249, 250, 251;
  --gray-100: 242, 244, 247;
  --gray-200: 234, 236, 240;
  --gray-300: 208, 213, 221;
  --gray-400: 152, 162, 179;
  --gray-500: 102, 112, 133;
  --gray-600: 71, 84, 103;
  --gray-700: 52, 64, 84;
  --gray-800: 24, 34, 48;
  --gray-900: 16, 24, 40;
}
.dark {
  --white: 255, 255, 255;
  --bg-primary: 22, 27, 38;
  --brand-50: 255, 241, 241;
  --brand-100: 254, 229, 230;
  --brand-200: 252, 207, 210;
  --brand-300: 250, 167, 173;
  --brand-400: 246, 118, 130;
  --brand-500: 239, 83, 102;
  --brand-600: 218, 36, 67;
  --brand-700: 184, 24, 55;
  --brand-800: 154, 23, 53;
  --brand-900: 132, 23, 52;
  --gray-50: 16, 24, 40;
  --gray-100: 24, 34, 48;
  --gray-200: 31, 36, 47;
  --gray-300: 51, 55, 65;
  --gray-400: 102, 112, 133;
  --gray-500: 152, 162, 179;
  --gray-600: 208, 213, 221;
  --gray-700: 206, 207, 210;
  --gray-800: 242, 244, 247;
  --gray-900: 249, 250, 251;
}
